.*
node_modules/
nbproject/
*.code-workspace

# CI test files
test/
main.test.js

# Type checking configuration
tsconfig.json
tsconfig.*.json

# npm package files
iobroker.*.tgz
package-lock.json
